<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button trigger modal -->
        <% if (!user.universityId) { %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
                <i class="fas fa-plus"></i>
            </button>
        <% } %>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Username</th>
                        <th>University Role</th>
                        <% if (!user.universityId) { %>
                            <th>Action</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < users.length; i++ ){ %>
                        <% if (users[i].universityId) { %>
                            <tr>
                                <td>
                                    <%= i + 1 %>
                                </td>
                                <td>
                                    <%= users[i].username %>
                                </td>
                                <td>
                                    <%= users[i].universityId?.name ? users[i].universityId.name : 'admin'  %>
                                </td>
                                <% if (!user.universityId) { %>
                                    <td>
                                        <form action="/admin/user/<%= users[i].id %>?_method=DELETE" method="POST"
                                            style="display: inline;">
                                            <button type="submit" href="" class="btn btn-danger btn-circle btn-sm"><i
                                                    class="fas fa-trash"></i></button>
                                        </form>
                                    </td>
                                <% } %>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>

            </table>
        </div>
    </div>
</div>